@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout.css */

/* Container must have overflow and the .hide-scrollbar class */
.hide-scrollbar {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

/* WebKit */
.hide-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px; /* if you also scroll vertically */
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: var(--scroll-track);
  border-radius: 3px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 3px;
  border: 1px solid var(--scroll-track);
}

/* Optional: hover effect for the thumb */
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover);
}

/* Define your theme colors as CSS variables */
:root {
  --scroll-track: #f3f3f3;
  --scroll-thumb: #ffbc0f; /* your popular yellow */
  --scroll-thumb-hover: #e6ac0c; /* a slightly darker hover state */
}

.hide-scrollbar-order::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.react-autosuggest__suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
